<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doslosmuertos.mechagontrail" >

    <application
        android:name=".util.MechagonTrailApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TitleScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_about"
            android:parentActivityName=".TitleScreen"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="doslosmuertos.mechagontrail.TitleScreen" />
        </activity>
        <activity
            android:name=".DummyFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dummy_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".NewGameStory"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_new_game_story"
            android:parentActivityName=".TitleScreen"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="doslosmuertos.mechagontrail.TitleScreen" />
        </activity>
        <activity
            android:name=".NewGameInfoScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_new_game_info_screen"
            android:parentActivityName=".NewGameStory"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="doslosmuertos.mechagontrail.NewGameStory" />
        </activity>
        <activity
            android:name=".DataPassTest"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_data_pass_test"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".battleScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_battle_screen"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name=".util.loadGameTest"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_load_game_test"
            android:parentActivityName=".TitleScreen"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="doslosmuertos.mechagontrail.TitleScreen" />
        </activity>
        <activity
            android:name=".LoadGameTest"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_load_game_test"
            android:parentActivityName=".TitleScreen"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="doslosmuertos.mechagontrail.TitleScreen" />
        </activity>
        <activity
            android:name=".eventhappening"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_eventhappening"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
